import okhttp3.MediaType.Companion.toMediaType
import okhttp3.OkHttpClient
import okhttp3.Request
import okhttp3.RequestBody.Companion.toRequestBody

fun main() {
    // Remove the optional fields you don't need:
    val json = """{"long_url": "$url", "alias": "$alias", "password": "$password"}"""

    val request = Request.Builder()
        .url("https://spoo.me/api/v1/shorten")
        // .addHeader("Authorization", "Bearer <YOUR_API_KEY>") // higher limits
        .post(json.toRequestBody("application/json".toMediaType()))
        .build()

    OkHttpClient().newCall(request).execute().use { response ->
        println(response.body?.string())
    }
}
